body {
    font-family: 'Honk', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://media1.tenor.com/m/TjxtT5xalCsAAAAC/hamster-ayasan.gif');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Larger box shadow for 3D effect */
    padding: 10px;
    max-width: 500px;
}

.gif {
    margin-bottom: 20px;
}

.video {
    margin-bottom: 20px;
}

.buttons {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
